body {
    margin: 0;
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #ffe6f0, #fff);
    text-align: center;
    overflow-x: hidden;
}

/* HEADER */
header {
    background: #ff4d88;
    color: white;
    padding: 30px;
    font-size: 40px;
}

/* LETTER */
.letter {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    line-height: 1.8;
}

/* PHOTOBOOTH */
.photobooth-container {
    width: 250px;
    height: 400px;
    margin: 40px auto;
    overflow-y: auto;
    border-radius: 20px;
    background: black;
    padding: 15px;
}

.photobooth-strip img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* SIDE FLOWERS */
.side-flowers {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    pointer-events: none;
    z-index: 5;
}

.left { left: 0; }
.right { right: 0; }

.bloom-flower {
    font-size: 25px;
    transform: scale(0);
    animation: bloom 2s ease forwards;
}

@keyframes bloom {
    0% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.3); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

/* FLOATING HEARTS */
@keyframes floatUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-600px); opacity: 0; }
}

footer {
    margin: 30px 0;
    font-size: 14px;
    color: #777;
}
